{% from 'bootstrap/nav.html' import render_nav_item %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pixelboooom</title>
    <link rel="icon" href="{{ url_for('static', filename='src/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Pixelbooom!</a>
            <div class="collapse navbar-collapse" id="navbarColor03">
                {{ render_nav_item('index', 'Home') }}
                {{ render_nav_item('explore', 'Explore') }}
                {{ render_nav_item('playground', 'Create') }}
            </div>
            <div class="navbar-btn ml-auto">
                <a class="btn btn-outline-primary" href="../signin" role="button">SignIn</a>
                <a class="btn btn-primary" href="../signup" role="button">SignUp</a>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block content %}
        <div class="banner text-center">
            <h1 class="display-1">Pixelboooom!</h1>
            <p class="lead">This is a web application that allows you to create perfectly colored Icons from scratch.</p>
            <hr class="my-4">
            <p>Have fun！</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="../signup" role="button">Join Us</a>
                <a class="btn btn-link" href="../playground" role="button">Playground</a>
            </p>
        </div>
        {% endblock %}
        <footer id="footer">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        {% block footer %}
                        {% endblock %}
                        <li><a href="https://me.csdn.net/weixin_40109345" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                        <li><a href="https://github.com/StarkerRegen">GitHub</a></li>
                    </ul>
                    <p>Made by <a href="#">Li Shizhen</a>.</p>
                    <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<!--     <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
