{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sortable.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/explore.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
{% endblock %}

{% block nav %}
{% if current_user.is_authenticated %}
<header>
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <nav class="menu">
                <ul>
                    <li>{{ render_nav_item('index', 'Home') }}</li>
                    <li>{{ render_nav_item('explore', 'Explore') }}</li>
                    <li>{{ render_nav_item('playground', 'Create') }}</li>
                </ul>
            </nav>
            <nav class="ml-auto">
                <ul>
                    <li class="nav-link">{{ current_user.username }}</li>
                    <li>{{ render_nav_item('logout', 'LogOut') }}</li>
                </ul>
            </nav>
        </div>
        <br>
    </div>
</header>
{% else %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Pixelbooom!</a>
        <div class="collapse navbar-collapse" id="navbarColor03">
            {{ render_nav_item('index', 'Home') }}
            {{ render_nav_item('explore', 'Explore') }}
            {{ render_nav_item('playground', 'Create') }}
        </div>
        <div class="navbar-btn ml-auto">
            <a class="btn btn-outline-primary" href="../signin" role="button">SignIn</a>
            <a class="btn btn-primary" href="../signup" role="button">SignUp</a>
        </div>
    </div>
</nav>
{% endif %}
{% endblock %}

{% block content %}
<div class="page">
    <ul class="sortableNav nav">
        <li><a data-sjslink="all" class="navLink">All</a></li>
        <li><a data-sjslink="Pretty" class="navLink">Pretty</a></li>
        <li><a data-sjslink="Casual" class="navLink">Casual</a></li>
        <li><a data-sjslink="Dynamic" class="navLink">Dynamic</a></li>
        <li><a data-sjslink="Gorgeous" class="navLink">Gorgeous</a></li>
        <li><a data-sjslink="Wild" class="navLink">Wild</a></li>
        <li><a data-sjslink="Natural" class="navLink">Natural</a></li>
        <li><a data-sjslink="Elegant" class="navLink">Elegant</a></li>
        <li><a data-sjslink="Dandy" class="navLink">Dandy</a></li>
        <li><a data-sjslink="Clear" class="navLink">Clear</a></li>
        <li><a data-sjslink="CoolCasual" class="navLink">CoolCasual</a></li>
    </ul>
    <div id="sortable" class="sjs-default">
        {% for post in posts %}
        <div data-sjsel="{{ post.style }}">
            <div class="article">
                <img src="{{ post.imglist|slice(post.imglist|wordcount()//4)|first|join|replace('./','/') }}" alt="post image">
                <div class="entry-text">
                    <div class="entry-header">
                        <h1 class="entry-title">{{ post.title }}</h1>
                        <p>Category: <span>{{ post.category }} </span><span class="dash">/  </span> Autor: <a href="{{ url_for('homepage', nickname=post.username) }}">{{ post.username }}</a></p>
                    </div>
                    <div class="entry-excerpt">
                        {{ post.date_posted }}
                    </div>
                    {% if current_user.is_authenticated %}
                    <p><img src="/static/src/like.png" id="/like/{{post.id}}" class="like">{{ post.likes }}</p>
                    {% else %}
                    <p><img src="/static/src/like.png" id="/like" class="like">{{ post.likes }}</p>
                    {% endif %}
               </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script type="text/javascript">
    document.querySelector('#sortable').sortablejs()
    $('.like').click(function() {
        if(this.id == '/like') {
            alert('Please login firstly.')
        }else {
            self.location.href = this.id;
        }
    });
</script>
{% endblock %}