{% from 'bootstrap/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="background-image"></div>
        <div class="container">
            <div class="row">
                <nav class="menu">
                    <ul>
                        <li><a class="nav-item nav-link" href="{{ url_for('homepage', nickname=current_user.username) }}">Home</a></li>
                        <li>{{ render_nav_item('explore', 'Explore') }}</li>
                        <li>{{ render_nav_item('playground', 'Create') }}</li>
                    </ul>
                </nav>
                <nav class="menu ml-auto">
                    {{ render_nav_item('logout', 'LogOut') }}
                </nav>
            </div>
            <div class="row"> 
                <div class="teaser">
                    <h2>{{ nickname }}</h2>
                    <p>Blogging about everything web & design</p>
                </div>
            </div>
        </div>
    </header> 
    <section class="page">
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">   
                <!-- post -->
                {% for post in posts %}
                <div class="post gallery-post">
                    <h2 class="section-title">{{ post.title }}</h2>
                    <!-- meta -->
                    <div class="meta">
                        <p>Category: <span>{{ post.category }}</span><span class="dash">/</span> {{ post.date_posted }} <span class="dash">/</span> <a href="#comments">7 Comments</a></span></p>
                    </div><!-- end meta -->
                    <!-- content -->
                    <div class="post-content">
                        <div class="content">
                            {% imgs = post.imglist.split(',') %}
                            {% for img in imgs %}
                                {% imgP = '.' + img %}
                                <div class="floatImage" ><img src="{{ imgP }}" alt="PostImage" /></div>
                            {% endfor %}
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                        </div><!-- end post content -->
                    </div><!-- end content -->
                </div>
            </div>
            <div id="sidebar" class="sidebar col-4">   
                <div class="widget">
                    <h4>Recent Post </h4>
                    <div class="widget-content">
                        {% for post in posts %}
                        <div class="recent-post-tab">
                            <span>{{ post.date_posted }} </span>
                            <a href="single.html">{{ post.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- end widget content -->
                </div>
            </div><!-- end sidebar -->
        </div><!-- end row -->
    </div>
    {% endblock %} 
    </section>
    {% block scripts %}
    {% endblock %}
</body>
</html> 