{% from 'bootstrap/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="background-image"></div>
        <div class="container">
            <div class="row">
                <nav class="menu">
                    <ul>
                        <li>{{ render_nav_item('index', 'Home') }}</li>
                        <li>{{ render_nav_item('explore', 'Explore') }}</li>
                        <li>{{ render_nav_item('playground', 'Create') }}</li>
                    </ul>
                </nav>
                {% if current_user.is_authenticated %}
                <nav class="menu ml-auto">
                    {{ render_nav_item('logout', 'LogOut') }}
                </nav>
                {% else %}
                <nav class="menu ml-auto">
                    <div class="row">
                        {{ render_nav_item('signin', 'SignIn') }}
                        {{ render_nav_item('signup', 'SignUp') }}
                    </div>
                </nav>
                {% endif %}
            </div>
            <div class="row"> 
                <div class="teaser">
                    <h2>{{ nickname }}</h2>
                    <p>Blogging about icon design</p>
                </div>
            </div>
        </div>
    </header> 
    <section class="page">
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">   
                <!-- post -->
                {% for post in posts %}
                {% if loop.first %}
                <div class="post gallery-post" id="{{ post.id }}">
                {% else %}
                <div class="post gallery-post disable" id="{{ post.id }}">
                {% endif %}
                    {% if current_user.username is eq(nickname) %}
                    <div class="img-btn-group">
                        <img src="/static/src/edit.png" alt="edit" class="edit" id="/edit/{{ post.id }}">
                        <img src="/static/src/del.png" alt="pen" class="delete" id="/delete/{{ post.id }}">
                    </div>
                    {% endif %}
                    <h2 class="section-title">{{ post.title }}</h2>
                    <!-- meta -->
                    <div class="meta">
                        <p>Category: <span>{{ post.category }}</span><span class="dash">/</span> {{ post.date_posted }} <span class="dash">/</span><span>{{ post.likes }} Likes</span></p>
                    </div><!-- end meta -->
                    <!-- content -->
                    <div class="post-content">
                        <div class="content">
                            {% for image in post.imglist|slice(post.imglist|wordcount() // 4) %}
                            <div class="floatImage" >
                                <img src="{{ image|join|replace('./','/') }}" alt="PostImage">
                            </div>
                            {% endfor %}
                            <p>{{ post.article }}</p>
                        </div><!-- end post content -->
                    </div><!-- end content -->
                </div>
                {% endfor %}
            </div>
            <div id="sidebar" class="sidebar col-4">   
                <div class="widget">
                    <h4>Recent Post </h4>
                    <div class="widget-content">
                        {% for post in posts %}
                        <div class="recent-post-tab">
                            <span>{{ post.date_posted }} </span>
                            <button type="button" class="btn btn-link post-selecter" id="{{ post.id }}">{{ post.title }}</button>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- end widget content -->
                </div>
            </div><!-- end sidebar -->
        </div><!-- end row -->
    </div> 
    {% endblock %}
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script type="text/javascript">
        $('.post-selecter').click(function(e) {
            let id = this.id;
            $('.gallery-post').each(function() {
                if(this.id == id) {
                    $(this).removeClass('disable');
                }else {
                    $(this).addClass('disable');
                }
            });
        });
        $('.delete').click(function() {
            let r = confirm("Do you want to delete this post?");
            if(r) {
                self.location.href = this.id;
            }
        });
        {% block scripts %}
        $('.edit').click(function() {
            self.location.href = this.id;
        });
        {% endblock %}
    </script>
</body>
</html> 