{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block header %}
<!--[if IE]>
    <script type="text/javascript" src="{{ url_for('static', filename='js/excanvas.js') }}"></script>
<![endif]-->
{% endblock %}

{% block nav %}
<h3 class="text-center">
  Playground
  <small class="text-muted">with brush</small>
</h3>
<div class="navbar-btn ml-auto">
    <a class="btn btn-outline-primary" href="../LogIn" role="button">LogIn</button>
    <a class="btn btn-primary" href="../SignUp" role="button">SignUp</a>
</div>
{% endblock %}

{% block content %}
<div class="page">
    <div class="jumbotron">
        <div class="row">
            <div class="col-3">
                <div class="row flex-column justify-content-around align-items-center">
                    <h3><span class="badge badge-pill badge-secondary ml-5" id="L">L</span></h3>
                    <button id="board-btn" class="flex-grow-1 mt-5"></button>
                    <div class="flex-grow-0 mt-5 img-btn-group">
                        <img src="/static/src/pen.png" alt="pen" class="img-btn left" id="pen">
                    </div>
                    <div class="flex-grow-0 img-btn-group">
                        <img src="/static/src/line.png" alt="line" class="img-btn mr-3 left" id="line">
                        <img src="/static/src/circle.png" alt="circle" class="img-btn ml-3 left" id="circle">
                    </div>
                    <div class="flex-grow-0 img-btn-group">
                        <img src="/static/src/eraser.png" alt="eraser" class="img-btn left" id="eraser">
                    </div>
                </div>
            </div>
            <div class="col-6" id="canvasContainer">
                <canvas id="sketchpad"></canvas>
            </div>
            <div class="col-3">
                <div class="row flex-column justify-content-around align-items-center">
                    <h3><span class="badge badge-pill badge-secondary mr-5" id="R">R</span></h3>
                    <div class="flex-grow-0 mt-5 img-btn-group">
                        <img src="/static/src/delete.png" alt="delete" class="img-btn right" id="delete">
                    </div>
                    <div class="flex-grow-0 img-btn-group">
                        <img src="/static/src/undo.png" alt="undo" class="img-btn mr-3 right" id="undo">
                        <img src="/static/src/redo.png" alt="redo" class="img-btn ml-3 right" id="redo">
                    </div>
                    <div class="flex-grow-0 img-btn-group">
                        <img src="/static/src/download.png" alt="download" class="img-btn right" id="download">
                    </div>
                    <button id="board-btn" class="flex-grow-1 mt-5 mb-5"></button>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <ul class="nav nav-pills offset-2">
            <li class="nav-item"><a class="nav-link active style-nav" data-toggle="tab" href="#Pretty" id="0">Pretty</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Casual</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item style-nav" data-toggle="tab" href="#Casual" id="1">casual</a>
                    <a class="dropdown-item style-nav" data-toggle="tab" href="#CoolCasual" id="9">Cool casual</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Dynamic" id="2">Dynamic</a></li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Gorgeous" id="3">Gorgeous</a></li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Wild" id="4">Wild</a></li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Natural" id="5">Natural</a></li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Elegant" id="6">Elegant</a></li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Dandy" id="7">Dandy</a></li>
            <li class="nav-item"><a class="nav-link style-nav" data-toggle="tab" href="#Clear" id="8">Clear</a></li>
        </ul>
        <hr class="my-4">
        <div class="tab-content ml-4">
            <div class="tab-pane fade show active" id="Pretty">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="00">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="01">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="02">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="03">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="04">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="05">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="06">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="07">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="08">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="09">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="010">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="011">
            </div>
            <div class="tab-pane fade" id="Casual">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="10">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="11">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="12">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="13">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="14">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="15">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="16">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="17">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="18">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="19">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="110">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="111">
            </div>
            <div class="tab-pane fade" id="Dynamic">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="20">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="21">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="22">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="23">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="24">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="25">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="26">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="27">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="28">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="29">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="210">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="211">
            </div>
            <div class="tab-pane fade" id="Gorgeous">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="30">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="31">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="32">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="33">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="34">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="35">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="36">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="37">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="38">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="39">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="310">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="311">
            </div>
            <div class="tab-pane fade" id="Wild">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="40">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="41">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="42">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="43">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="44">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="45">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="46">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="47">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="48">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="49">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="410">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="411">
            </div>
            <div class="tab-pane fade" id="Natural">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="50">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="51">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="52">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="53">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="54">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="55">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="56">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="57">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="58">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="59">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="510">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="511">
            </div>
            <div class="tab-pane fade" id="Elegant">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="60">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="61">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="62">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="63">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="64">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="65">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="66">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="67">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="68">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="69">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="610">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="611">
            </div>
            <div class="tab-pane fade" id="Dandy">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="70">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="71">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="72">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="73">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="74">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="75">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="76">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="77">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="78">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="79">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="710">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="711">
            </div>
            <div class="tab-pane fade" id="Clear">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="80">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="81">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="82">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="83">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="84">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="85">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="86">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="87">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="88">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="89">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="810">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="811">
            </div>
            <div class="tab-pane fade" id="CoolCasual">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="90">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="91">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="92">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="93">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="94">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="95">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="96">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="97">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="98">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="99">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="910">
                <img src="{{ url_for('static', filename='src/background.png') }}" alt="..." class="img-thumbnail" id="911">
            </div>
        </div>
        <button type="button" class="btn btn-outline-success float-lg-right" id="refresh">Refresh</button>
    </div>
</div>
{% endblock %}


{% block footer %}
<li class="float-lg-right"><a href="../">Back to Home</a></li>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/painting.js') }}"></script>
{% endblock %}