<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/log.css') }}">
</head>
<body>
<!-- Backgrounds -->
<div id="login-bg" class="container-fluid">
  <div class="bg-color"></div>
</div>
<!-- End Backgrounds -->

<div class="container" id="login">
	<div class="row justify-content-center">
	{% for message in get_flashed_messages() %}
    <div div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
	<div class="col-lg-8">
	  <div class="login">
	  	{% block form %}
		<h1>LogIn</h1>	
			<form method="post">
				{{ form.csrf_token }}
				<div class="form-group">
				  {{ form.email(class="form-control", id="exampleInputEmail1", placeholder="Enter email") }}
				  {% for message in form.email.errors %}
				  	<small class="error">{{ message }}</small>
				  {% endfor %}
				</div>
				<div class="form-group">
				  {{ form.password(class="form-control", id="exampleInputPassword1", placeholder="Password") }}
				  {% for message in form.password.errors %}
				  	<small class="error">{{ message }}</small>
				  {% endfor %}
				</div>
				<div class="form-check">
					<label class="switch">
						{{ form.remember_me(class = "form_check_input")}}
				  		<span class="slider round"></span>
					</label>
					{{ form.remember_me.label }}
				  	<label class="forgot-password"><a href="../resetpasswd">Forgot Password?<a></label>
				</div>
				<br>
				{{ form.submit(class="btn btn-lg btn-block btn-success")}}
				<br>
				<a href="../signup"class="btn-link">Sign up now</a>
			</form>
		{% endblock %}
		</div>
	</div>
</div>

</body>
</html>